  
.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.flex-container img {
    width: 100%;
    height: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 15px;
}

.showProduct {
    border-radius: 20px;
    width: 15%;
    margin-top: 5%;
    margin-left: 4%;
    border: none;
    transition: 0.3s;
    padding-top: 1px;
    border: 1px solid #cce0ff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.showProduct:hover {
    border: 1px solid #f53d2d;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.buttonProduct Button {
    margin-left: 15%;
    margin-bottom: 5px;
}

.productInfor {
    padding: 2%;
    margin-left: 5%;
}

.content{
    margin-bottom: 4vw;
}
.productInfor .buyed{
    color: #a6a6a6;
}
.productInfor .price {
    color: #f53d2d;
}